astroid==1.6.3
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cycler==0.10.0
Django==1.11
Flask==1.0.2
Flask-Bcrypt==0.7.1
idna==2.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
numpy==1.22.0
opencv-python==3.4.1.15
Pillow==5.1.0
pycparser==2.18
pylint==1.9.2
pylint-django==0.11.1
pylint-plugin-utils==0.2.6
PyMySQL==0.8.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.19.1
six==1.11.0
urllib3==1.23
wrapt==1.10.11
django_debug_toolbar
mysqlclient
