/* CONTACT PAGE STYLES */

.contact {
  padding: 20px auto;
}

.contact .row {
  /* display: inline-block; */
  background-color: #bbb;
  justify-content: center;
  padding: 20px 0px;
}


.welcome {
  text-align: center;
  padding: 20px 0px;
}

/* #contact-btn {
  justify-content: flex-end;
} */

.form-group input {
  margin: 15px auto;
}

.form-group .btn {
  float: right;
}
