{% extends 'base.html' %}
{% load static %}
{% url "products:list" as product_list_url %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to the World of Ecommerce</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container-fluid">
  <div class="border">
    <!-- <h1>BORDER</h1> -->
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <h3>This is content</h3>
  </div>
  {% if request.user.is_authenticated %}
  <div class="row">
    <div class="col">
      <h3>This is authenticated content</h3>

    </div>
  </div>
  {% endif %}

</div> -->

{% endblock %}
