{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'product:landing' as product_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class='container'>
    <a class="navbar-brand" href="{{ home_url }}">
      {% if brand_name %} {{brand_name }} {% else %} Dojo Ecomerce {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.path == home_url %}active{% endif %}">
          <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
          <a class="nav-link" href="{{ contact_url }}">Contact</a>
        </li>
        <li class="nav-item {% if request.path == product_url %}active{% endif %}">
          <a class="nav-link" href=" {{ product_url }} ">Products</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
            <form class="logout-link" action="{{ logout_url }}" method="post">
              {% csrf_token %}
              <button class="btn btn-outline-primary" type="submit" name="button">Logout</button>
              <!-- <a class="nav-link" href="{{ logout_url }}">Logout</a> -->
            </form>
          </li>
          <!-- <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
            <a class="nav-link" href="{{ logout_url }}">Logout</a>
          </li> -->
        {% else %}
          <li class="nav-item {% if request.path == register_url %}active{% endif %}">
            <a class="nav-link" href="{{ register_url }}">Register</a>
          </li>
          <li class="nav-item {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link" href="{{ login_url }}">Login</a>
          </li>
        {% endif %}

        <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
          <a class="nav-link" href="{{ cart_url }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> ( {{ request.session.cart_items }} )</a>
        </li>


      </ul>

    </div>
  </div>
</nav>
