<div class="payments">
  <h3> PAYMENTS </h3>
  <!-- <a href="#"> Visa & Mastercard </a> -->
  <i class="fab fa-cc-visa fa-2x"></i>
  <i class="fab fa-cc-mastercard fa-2x"></i>
  <!-- <a href="#"> American Express </a> -->
  <i class="fab fa-cc-amex fa-2x"></i>
  <!-- <a href="#"> Discover </a> -->
  <i class="fab fa-cc-discover fa-2x"></i>
  <i class="fab fa-cc-stripe fa-2x"></i>
  <i class="fab fa-cc-paypal fa-2x"></i>
</div>

<div class="icons">
  <i class="fab fa-twitter fa-2x"></i>
  <i class="fab fa-facebook fa-2x"></i>
  <i class="fab fa-google fa-2x"></i>
  <i class="fab fa-instagram fa-2x"></i>
</div>
