<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Shop The Dojo</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./static/product/css/landing_page.css">
</head>

<body>
	<div class="container">

		<div class="box">
			<h2><b>Shop The Dojo</b></h2>
		</div>
		<div class="box2">
				<a href="#">
					<span class="glyphicon glyphicon-user"></span>Register</a>
				<a href="#">
					<span class="glyphicon glyphicon-log-in" id="login"></span>Login</a>
		</div>

	</div>
</body>

</html>